.firstPage {
    background-color: rgba(0, 218, 199, 0.1);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.firstPage .divImageBg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-position: cover;
}
.firstPage .divImageBg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* scale: .8; */
    position: absolute;
    /* margin-left: -350px; */
    opacity: .9;
}

.firstPage .content {
    width: 100vw;
    /* background-color: aqua; */
    margin-bottom: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.firstPage .content h1 {
    font-size: 32px;
    width: 300px;
    /* background-color: rgb(0, 53, 100); */
    color: #fff;
    font-weight: 400;
    margin-bottom: 42px;
}
.firstPage .btns {
    /* background-color: azure; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.firstPage .btns .btn button {
    cursor: pointer;
    width: 7.5em;
    height: 2.5em;
    text-transform: uppercase;
    border-radius: .4em;
    font-size: 16px;
    transition: all .2s;
    /* border: 1px solid; */
}
.bgDark button {
    background-color: #001D19;
    color: #fff;
    border: 1px solid #001D19;
}
.bgDark button:hover {
    background-color: transparent;
    border-color: #fff;
}
.bgLight button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}
.bgLight button:hover {
    background-color: #001D19;
    border-color: #001D19;
}

.firstPage .scroll-arrow {
    width: 50px;
    height: 30px;
    /* background-color: rgb(6, 79, 143); */
    position: absolute;
    bottom: 2em;
    margin: auto;
    animation: scrollArrow 1.8s infinite cubic-bezier(.17,.67,.8,.95);
}
.firstPage .scroll-arrow img {
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}

@keyframes scrollArrow {
    0% {
        bottom: 2em;
    } 50% {
        bottom: 3.5em;
    } 100% {
        bottom: 2em;
    }
}

@media (min-width: 900px) {
    .firstPage .content h1 {
        font-size: 2.5em;
        width: 40%;
    }
    .firstPage .btns {
        gap: 3em;
        width: 35%;
    }
    .firstPage .btns .btn button {
        font-size: 1.2em;
    }
}
@media (min-width: 1100px) {
    .firstPage .content h1 {
        width: 32%;
    }
    .firstPage .btns {
        width: 25%;
    }
}
@media (min-width: 1100px) {
    .firstPage .content h1 {
        width: 32%;
    }
    .firstPage .btns {
        width: 32%;
    }
}

@media (min-width: 1300px) {
    .firstPage .content h1 {
        width: 35%;
        font-size: 3em;
    }
    .firstPage .btns {
        width: 35%;
        font-size: 1.3em;
    }
}
@media (min-width: 1500px) {
    .firstPage .content h1 {
        width: 31%;
        font-size: 3em;
    }
    .firstPage .btns {
        width: 31%;
        font-size: 1.3em;
    }
}
@media (min-width: 1650px) {

    .firstPage .btns {
        width: 28%;
    }
}
@media (min-width: 1800px) {
    .firstPage .content h1 {
        width: 25%;
        font-size: 3em;
    }
    .firstPage .btns {
        width: 26%;
        font-size: 1.3em;
    }
}
@media (min-width: 2000px) {
    .firstPage .content h1 {
        width: 22%;
        font-size: 3em;
    }
    .firstPage .btns {
        width: 23%;
        font-size: 1.3em;
    }
}
@media (min-width: 2200px) {
    .firstPage .content h1 {
        width: 24%;
        font-size: 3.5em;
    }
    .firstPage .btns {
        width: 25%;
        font-size: 1.5em;
    }
}