.containerCarousel {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    /* align-items: center; */

}
.containerCarousel .swiperSlider {
    height: 80%;
    width: 97%;
    display: flex; /* Tornando o .swiperSlider um contêiner flexível */
    justify-content: space-between;
}
.containerCarousel .swiperSlider .swiperSliderItem {
    width: 49.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerCarousel .swiperSlider .swiperSliderItem .imageDiv {
    width: 100%;
    margin-top: 3em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0;
    z-index: 2;
    border-radius: 1.8em;
}
.containerCarousel .swiperSlider .swiperSliderItem .imageDiv h4 {
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: #fff;
}
.containerCarousel .swiperSlider .swiperSliderItem .iconImageDiv {
    width: 6em;
    height: 6em;
    position: absolute;
    transition: .3s all;
    top: 0;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCarousel .swiperSlider .swiperSliderItem .iconImageDiv img {
    width: auto;
    height: 70%;
}
.containerCarousel .swiperSlider .swiperSliderItem .contentTexts {
    width: 90%;
    border: 2px dotted rgba(171, 254, 242, .38);
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 2em;
    flex-grow: 1;
    background-color: beige;
    z-index: 1;
}

@media (min-width: 1200px) {
    .containerCarousel .swiperSlider .swiperSliderItem {
        width: 33%;
    }
}

@media (min-width: 1500px) {
    .containerCarousel .swiperSlider {
        width: 90%;
        height: 90%;
    }
}

@media (min-width: 1800px) {
    .containerCarousel .swiperSlider {
        height: 90%;
        /* width: 80%; */
    }
    .containerCarousel .swiperSlider .swiperSliderItem {
        /* width: 30%; */
    }
}
@media (min-width: 1900px) {
    .containerCarousel .swiperSlider {
        height: 95%;
        /* width: 80%; */
    }
}
@media (min-width: 2100px) {
    .containerCarousel .swiperSlider {
        height: 95%;
        width: 85%;
    }
}