header {
    /* background-color: rgb(119, 119, 119); */
    width: 100vw;
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    /* background-color: antiquewhite; */
    /* opacity: .2; */
    backdrop-filter: blur(10px);
}
header img {
    background-color: transparent;
}