/* Global Contact */
.contact {
    width: 100%;
    padding: 2em 0 0 0;
    
}

/* Form */
.contact .formContent {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2.5em;
}
.contact .formContent .form {
    width: 100%;
    position: relative;
    padding-inline: .5em;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #002B25;
    font-weight: 500;
}
    /* Inputs */
.contact .formContent .form .contextInputs {
    width: 100%;
}
.contact .formContent .form .contextInputs .labelInput {
    width: 100%;
}
        /* Input and textarea */
.contact .formContent .form .contextInputs .labelInput .elementForm {
    width: 100%;
    height: 3rem;
    border-radius: .6em;
    border: 1px solid #002B25;
    background-color: rgba(229, 243, 241, .7);
    margin-bottom: 1rem;
}
        /* Input */
.contact .formContent .form .contextInputs .labelInput .input {
    font-size: 1.3rem;
    padding-inline: .4em;

}
.contact .formContent .form .contextInputs .labelInput .input:focus {
    outline: 1px solid #00d1b5;
}
.contact .formContent .form .contextInputs .labelInput .textarea {
    font-size: 1.3rem;
    padding: .4em;
    height: 5rem;
}
.contact .formContent .form .contextInputs .labelInput .textarea:focus {
    outline: 1px solid #00d1b5;
}

    /* Submit */
.contact .formContent .form .contentSubmit {
    width: 100%;
    /* text-align: center; */
}
.contact .formContent .form .contentSubmit .labelInputSubmit button {
    height: 2.5rem;
    margin-bottom: 2rem;
    width: 60%;
    border-radius: 1rem;
    background-color: #00695C;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: #002B25 5px 5px;
    transition: all .2s;
}
.contact .formContent .form .contentSubmit .labelInputSubmit button:hover { 
    cursor: pointer;
    box-shadow: #002B25 8px 8px;
    font-size: 1.3rem;
}
/* Infos Contact */
.contact .infosContact {
    background-color: #00695C;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.abstractDiv {
   display: none;
}
.abstractDivBg {
    display: none;
}
.contact .infosContact .logoDiv {
    width: auto;
    height: 100px;
    margin-bottom: .5rem;
}
.contact .infosContact .logoDiv img {
    width: 100%;
    height: 100%;
}
.contact .infosContact .infosSocialMedias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 1rem; */
}
.contact .infosContact .infosSocialMedias .socialMedia {
    width: 100%;
    text-decoration: none;
}
.contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center; 
    width: 85%;
    gap: 1.3rem;
    height: 3rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-bottom: .5rem;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}
.contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia svg {
    scale: 1.2;
    position: absolute;
    left: 10px;
}
.contact .infosContact .infosSocialMedias .socialMedia svg {
    font-size: 32px;
}
.contact .infosContact .infosSocialMedias .socialMedia:nth-child(even) {
    background-color: #002B25;
}

@media (min-width: 350px) {
    .contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia {
            width: 67%;
        }
}
@media (min-width: 450px) {
    .contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia {
            width: 60%;
        }
}
@media (min-width: 550px) {
    .contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia {
            width: 45%;
        }
}
@media (min-width: 680px) {
    .contact .formContent .form .contentSubmit {
        text-align: center;
    }
    .contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia {
        width: 40%;
    }
}

@media (min-width: 850px) {
    .contact .infosContact {
        background-color: transparent;
    }
    .contact .infosContact .logoDiv {
        margin-top: 2.5rem;
    }
    .abstractDiv {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #00695C;
        position: absolute;
        z-index: -1;
    }
    .abstractDivBg {
        display: block;
        width: 100%;
        height: 100%;
        bottom: .5em;
        background-color: #00463D;
        position: absolute;
        z-index: -2;
    }
    .contact .formContent .form .contextInputs .labelInput .input {
        width: 48%;
    }
    .contact .formContent .form .contextInputs .labelInput.labelTextarea {
        position: absolute;
        top: 0;
        right: .5rem;
        width: 48%;
        height: 88%;
    }
    .contact .formContent .form .contextInputs .labelInput.labelTextarea textarea {
        height: 90%;
    }
    .contact .formContent .form .contentSubmit {
        text-align: start;
        width: 50%;
    }

    .contact .infosContact .infosSocialMedias {
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }
    .contact .infosContact .infosSocialMedias .socialMedia:nth-child(even) {
        background-color: transparent;
    }
    .contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia {
        gap: .3rem;
        width: 98%;
    }
    .contact .infosContact .infosSocialMedias .socialMedia .contentSocialMedia svg {
        position: static;
    }

}
@media (min-width: 1200px) {
    .contact .formContent .form {
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 1700px) {
    .contact .formContent .form {
        width: 80%;
        height: 500px;
        margin: auto;
    }
    .contact .formContent .form .contextInputs .labelInput .input {
        height: 80px;
        margin-bottom: 3.9rem;
    }
    .contact .formContent .form .contentSubmit .labelInputSubmit button  {
        height: 70px;
    }
}