section.menu {
    background: radial-gradient(#00110F, #001D19);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    display: none;
}
section.menu .contentMenu {
    height: 70%;
}
section.menu .contentMenu .listMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.7em;
    text-transform: capitalize;
    padding: 3em 1em 0 0;
    font-size: 2em;
    text-align: end;
    list-style: none;
}

section.menu .contentMenu .listMenu .itemMenu a {
    text-decoration: none;
    color: #fff;
}
section.menu .contentLogo {
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
section.menu .contentLogo .companyName {
    font-size: 1.4em;
}
section.menu .contentLogo img {
    height: 6em;
    width: auto;
}