section.menu {
    background: radial-gradient(#00110F, #001D19);
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
section.menu .contentMenu {
    height: 70vh;
}
section.menu .contentMenu .listMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.7em;
    text-transform: capitalize;
    padding: 3em 1em 0 0;
    font-size: 2rem;
    text-align: end;
    list-style: none;
}
section.menu .contentMenu .listMenu .itemMenu {
    transition: scale .2s;
}
section.menu .contentMenu .listMenu .itemMenu:hover {
    scale: 1.3;
    color: #fff;
}
section.menu .contentMenu .listMenu .itemMenu a {
    text-decoration: none;
    color: #dbdbdb;
}
section.menu .contentLogo {
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
section.menu .contentLogo .companyName {
    font-size: 1.4em;
}
section.menu .contentLogo img {
    height: 6em;
    width: auto;
}
section.menu .contentLogo p {
    color: #fff;
}

@media (max-height: 700px) {
    section.menu .contentMenu .listMenu {
        font-size: 1.8rem;
        gap: 1em;
    }
    section.menu .contentLogo .companyName {
        font-size: 1.2em;
    }
    section.menu .contentLogo img {
        height: 4em;
        width: auto;
    }
}
@media (max-height: 550px) {
    section.menu .contentMenu .listMenu {
        padding-top: 4em;
        gap: 1em;
        height: 80vh;
    }
    section.menu .contentLogo {
        height: 20vh;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: .3em;
    }
    section.menu .contentLogo img {
        height: 3.5em;
    }
    section.menu .contentLogo p {
        font-size: 11rem;
    }
}

@media (min-width: 700px) {
    section.menu {
        flex-direction: row-reverse;
    }
    section.menu .contentMenu {
        height: 100%;
        width: 50%;
    }
    section.menu .contentMenu .listMenu {
        padding-top: 0;
        font-size: 3rem;
        gap: .8em;
    }
    section.menu .contentLogo {
        height: 100%;
        width: 50%;
    }
    section.menu .contentLogo img {
        width: 20em;
        height: auto;
    }
    section.menu .contentLogo .companyName {
        font-size: 1.8rem;
    }
}

@media (min-width: 950px) {
    section.menu .contentMenu {
        height: 100%;
        width: 50%;
    }
    section.menu .contentLogo {
        height: 100%;
        width: 50%;
    }
}

@media (min-width: 950px) {
    section.menu .contentMenu .listMenu {
        font-size: 3.5rem;
    }
}

@media (min-width: 1600px) { 
    section.menu .contentMenu .listMenu {
        font-size: 3.8rem;
        gap: .6em;
        letter-spacing: 4px;
        margin-right: 3em;
    }
    section.menu .contentLogo img {
        width: 25em;
        height: auto;
    }
}

@media (min-width: 1800px) {  
    section.menu .contentLogo img {
        width: 30em;
        height: auto;
    }

    section.menu .contentLogo .companyName {
        font-size: 2.2em;
    }
}

@media (min-width: 1800px) {  
    section.menu .contentMenu .listMenu {
        /* margin-right: .5em; */
    }
}