/* Section */
.fieldWorkMobile {
    contain: layout inline-size;
    padding: 68px 0 0 0;
    resize: both;
    background: linear-gradient(to bottom,
        #000E0C 0%,
        #001D19 25%,
        #00110F 40%,
        #000E0C 60%,
        #000E0C 80%,
        #001D19 100%
        /* 001D19 */
    );
}

/* All cards */
.fieldWorkMobile .allCards {
    margin-top: 32px;
    /* background-color: aqua; */
}

/* Card */
.fieldWorkMobile .allCards .card {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Texts */
.fieldWorkMobile .allCards .card .texts {
    padding-inline: 2em 1em;
    /* background-color: antiquewhite; */
    /* width: 80%; */
}
.fieldWorkMobile .allCards .card .texts h3 {
    font-size: 28px;
    font-weight: 600;
}
.fieldWorkMobile .allCards .card .texts .divParagraph {
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    gap: 1em;
    padding: .5em 1.5em .5em 1.5em;

}
.fieldWorkMobile .allCards .card .texts .divParagraph p {
    font-size: 16px;
    width: 100%;
}
.fieldWorkMobile .allCards .card .texts .divParagraph .lineParagraph {
    position: absolute;
    width: .2em;
    height: 110%;
    background-color: #fff;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    top: 0;
}


/* Squares */
.fieldWorkMobile .allCards .card .squares {
    position: relative;
    width: 100%;
    height: 45vh;
    
}
.fieldWorkMobile .allCards .card .squares .image {
    margin: 0 auto;
    width: 90%;
    transform: translateY(0);
    height: 85%;
    overflow: hidden;
}
.fieldWorkMobile .allCards .card .squares .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
}
.fieldWorkMobile .allCards .card .squares .bgSquare {
    position: absolute;
    width: 75%;
    height: 75%;
    bottom: 0;
    background-color: #000F0D;
}

/* Lines */
.fieldWorkMobile .allCards .card .lines {
    display: flex;
    justify-content: end;
    height: 5vh;
    width: 100%;
}
.fieldWorkMobile .allCards .card .lines .bottomLine {
    border-bottom: 2px solid #fff;
    height: 100%;
    width: 100%;
}

@media (max-width: 321px) {
    .fieldWorkMobile .allCards .card .texts h3 {
        font-size: 25px;
        font-weight: 600;
    }
    .fieldWorkMobile .allCards .card .texts p {
        font-size: 15px;
    }
    .fieldWorkMobile .allCards .card .texts .divParagraph p {
        width: 100%;
    }
    .fieldWorkMobile .allCards .card .texts .divParagraph {
        padding: .5em 1em .5em 1em;
    }
}

@media (min-width: 450px) {
    .fieldWorkMobile .allCards .card .texts {
        /* width: 95%; */

    }
    
}

@media (min-width: 550px) {
    .fieldWorkMobile .allCards{
    }
    .fieldWorkMobile .allCards .card .texts {
        width: 80%;
    }
    .fieldWorkMobile .allCards .card .lines .bottomLine {
        width: 85%;
    }
    .fieldWorkMobile .allCards .card .squares .bgSquare {
        width: 70%;
    }
    .fieldWorkMobile .allCards .card .squares .image {
        width: 75%;
    }
    .fieldWorkMobile .allCards .card .texts .divParagraph p {
        width: 80%;
    }
}

@media (min-width: 680px) {
    .fieldWorkMobile .allCards{
    }
    .fieldWorkMobile .allCards .card .texts {
        width: 70%;
    }
    .fieldWorkMobile .allCards .card .lines .bottomLine {
        width: 75%;
    }
    .fieldWorkMobile .allCards .card .squares .bgSquare {
        width: 60%;
    }
    .fieldWorkMobile .allCards .card .squares .image {
        width: 70%;
        height: 90%;
    }
    .fieldWorkMobile .allCards .card .texts .divParagraph p {
        width: 90%;
    }
}