.title {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.title .content h2 {
    color: #022521;
    position: relative;
    display: inline-block;
    padding: 3px;
    font-size: 28px;
}
.title .content h2 span {
    position: relative;
    z-index: 1;
}
.title .content h2 .square-detail {
    bottom: 0;
    right: 0;
    height: 50%;
    background-color: #8ED6CC;
    padding-inline: 10px;
    position: absolute;
    z-index: 0;
    opacity: .8;
}

@media (min-width: 850px) {
    .title .content h2 span {
        font-size: 32px;
    }
}