/* All Components */
.allInfosAbout {
    width: 100%;
    padding: 3em 0 0 0;
}

/* Card */
.allInfosAbout .infoAboutCard {
    display: flex;
    flex-direction: column;
    padding: 4em 0 4em 0;
    width: 100%;
    margin: auto;
    margin-bottom: 5em;
    position: relative;
    overflow: hidden !important;
}

/* Background */
.infoAboutCard .bgItemAbout {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 1px solid #fff;
    z-index: 1;
}
.infoAboutCard .bgItemAbout.firstElementAbout {
    background-color: #D0ECE8;
    z-index: 1;
    height: 99%;
    bottom: 0;
    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 70% 95%, 0 100%, 0 7%);
    clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 70% 95%, 0 100%, 0 7%);
}
.infoAboutCard .bgItemAbout.firstElementAboutShadow {
    background-color: #BBE5DF;
    top: 0;
    z-index: 0;
    height: 95%;
    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 70% 95%, 0 100%, 0 7%);
    clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 70% 95%, 0 100%, 0 7%);
}
.infoAboutCard .bgItemAbout.globalElements {
    top: 0;
    background-color: #D0ECE8;
    -webkit-clip-path: polygon(35% 0, 100% 8%, 100% 95%, 50% 100%, 0 95%, 0 8%);
    clip-path: polygon(35% 0, 100% 8%, 100% 95%, 50% 100%, 0 95%, 0 8%);
}

/* Images */
.allInfosAbout .infoAboutCard .divContentImage {
    z-index: 2;
    width: 100%;
    height: 300px;
    margin-bottom: 1.5em;
}
.allInfosAbout .infoAboutCard .divContentImage .divImage {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allInfosAbout .infoAboutCard .divContentImage .divImage img {
    width: auto;
    height: 100%;
    object-fit: cover;
    overflow: auto;
    border-radius: 4em;
}
.allInfosAbout .infoAboutCard .divContentImage.divContentImage0 .divImage img {
    border-radius: 0;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

/* Texts */
.allInfosAbout .infoAboutCard .contentTexts {
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: relative;
    gap: 10px;
    width: 85%;
    margin: auto;
    padding: .3em 1em .3em .3em;
    color: #022521;
    font-size: 1.1em;
}
.allInfosAbout .infoAboutCard .contentTexts h3 {
    font-weight: 600;
    font-size: 1.05em;
    margin-left: .5em;
}
.allInfosAbout .infoAboutCard .contentTexts .textDesktop {
    display: none;
}
.allInfosAbout .infoAboutCard .contentTexts .textMobile {
    display: block;
}
.allInfosAbout .infoAboutCard .contentTexts .textMobile a,
.allInfosAbout .infoAboutCard .contentTexts .textDesktop a {
    color: #008877;
}
.allInfosAbout .infoAboutCard .contentTexts p {
    margin-bottom: 1em;
}
.allInfosAbout .infoAboutCard .contentTexts .socialMedias {
    display: flex;
    justify-content: end;
    color: rgba(0, 88, 78, 0.37);
    gap: 1em;
    margin-bottom: .5em;
    font-size: 1.5em;
    z-index: 2;
}
.allInfosAbout .infoAboutCard .contentTexts .socialMedias .media {
    transition: all .2s;
    cursor: pointer;
}
.allInfosAbout .infoAboutCard .contentTexts .socialMedias .media:hover {
    color: rgba(0, 88, 78, 1);
    scale: 1.5;
}

/* Border Component */
.allInfosAbout .infoAboutCard .borderComponent {
    width: 10em;
    height: 4em;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #022521;
    border-right: 1px solid #022521;
}

/* Responsive */
@media (min-width: 500px) {
    .allInfosAbout .infoAboutCard .contentTexts {
        width: 75%;
    }
}
@media (min-width: 600px) {
    .allInfosAbout .infoAboutCard .contentTexts {
        width: 60%;
    }
    .allInfosAbout .infoAboutCard .divContentImage {
        height: 350px;
    }
}
@media (min-width: 700px) {
    .allInfosAbout .infoAboutCard .contentTexts {
        width: 55%;
    }
    .allInfosAbout .infoAboutCard .divContentImage {
        height: 370px;
    }
}

/* Desktop */
@media (min-width: 850px) {
    .allInfosAbout .infoAboutCard {
        flex-direction: row;
        background-color: rgba(27, 153, 138, 0.14);
        height: 70vh;
        min-height: 600px;
        padding: 0;
        width: 95%;
        overflow: hidden;
    }
    .allInfosAbout .infoAboutCard .bgItemAbout {
        display: none;
    }
    .allInfosAbout .infoAboutCard .borderComponent {
        display: none;
    }
    .allInfosAbout .infoAboutCard.even {
        margin-left: 0;
        border-top-right-radius: 4em;
        border-bottom-right-radius: 4em;
        box-shadow: 10px 10px 2px rgba(0, 88, 78, 0.37);
    }
    .allInfosAbout .infoAboutCard.odd {
        margin-right: 0;
        border-top-left-radius: 4em;
        border-bottom-left-radius: 4em;
        flex-direction: row-reverse;
        box-shadow: -10px 10px 2px rgba(0, 88, 78, 0.37);
    }
    .allInfosAbout .infoAboutCard .divContentImage {
        width: 50%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .allInfosAbout .infoAboutCard .divContentImage .divImage {
        width: 95%;
    }
    .allInfosAbout .infoAboutCard .divContentImage .divImage img {
        width: auto;
        max-width: 100%;
        max-height: 400px;
        
    }
    .allInfosAbout .infoAboutCard.even .divContentImage .divImage img {
        box-shadow: 10px 10px rgba(0, 88, 78, .5);
    }
    .allInfosAbout .infoAboutCard.odd .divContentImage .divImage img {
        box-shadow: -10px 10px rgba(0, 88, 78, .5);
    }
    .allInfosAbout .infoAboutCard .divContentImage .divImage img {
        border-radius: 0 !important;
        object-fit: cover;
    }
    .allInfosAbout .infoAboutCard .contentTexts {
        min-height: 100%;
        display: flex;
        justify-content: center;
        width: 50%;
        gap: 2em;
        padding: 0 1em 0 1em;
    }
    .allInfosAbout .infoAboutCard .contentTexts h3 {
        font-size: 1.5em;
        margin-left: 0;
    }
    .allInfosAbout .infoAboutCard .contentTexts .textDesktop {
        display: block;
    }
    .allInfosAbout .infoAboutCard .contentTexts .textMobile {
        display: none;
    }
    .allInfosAbout .infoAboutCard .contentTexts p {
        font-size: 1.08em;
        letter-spacing: 3px;
        max-width: 100%;
    }
    .allInfosAbout .infoAboutCard .contentTexts .socialMedias {
        justify-content: start;
        font-size: 1.8em;
    }
}

@media (min-width: 900px) {
    .allInfosAbout .infoAboutCard .contentTexts p {
        font-size: 1.15em;
    }
    .allInfosAbout .infoAboutCard .divContentImage .divImage img {
        width: auto;
        max-height: 450px;
        
    }
}

@media (min-width: 950px) {
    .allInfosAbout .infoAboutCard .contentTexts p {
        font-size: 1.2em;
    }
}

@media (min-width: 1050px) {
    .allInfosAbout .infoAboutCard .divContentImage {
        width: 45%;
    }
    .allInfosAbout .infoAboutCard .contentTexts {
        width: 55%;
    }
}

@media (min-width: 1200px) {
    .allInfosAbout .infoAboutCard {
        width: 85%;
    }
    .allInfosAbout .infoAboutCard .contentTexts p {
        font-size: 1.4em;
    }
}
@media (min-width: 1400px) {
    .allInfosAbout .infoAboutCard .divContentImage {
        width: 40%;
    }
    .allInfosAbout .infoAboutCard .contentTexts {
        width: 60%;
    }
    .allInfosAbout .infoAboutCard .contentTexts h3 {
        font-size: 1.7em;
    }
    .allInfosAbout .infoAboutCard .contentTexts p {
        font-size: 1.7em;
    }
}

@media (min-width: 1600px) {
    .allInfosAbout .infoAboutCard { 
        min-height: 600px;
    }
    .allInfosAbout .infoAboutCard .divContentImage .divImage img {
        width: auto;
        max-height: 500px;
        
    }
    .allInfosAbout .infoAboutCard .contentTexts {
        padding-inline: 3em;
    }
}
@media (min-width: 1900px) {
    .allInfosAbout .infoAboutCard .divContentImage .divImage img {
        width: auto;
        max-height: 550px;
    }
    .allInfosAbout .infoAboutCard .contentTexts {
        padding-inline: 5em;
    }
    .allInfosAbout .infoAboutCard .contentTexts h3 {
        font-size: 2.1em;
    }
    .allInfosAbout .infoAboutCard .contentTexts p {
        font-size: 2em;
    }
}
