:root{
    --widthLineParagraph: 25%;
}
.becauseWe {
    width: 100%;
    margin-bottom: 3em;
}

/* Global Texts Section */
.becauseWe .contentTexts {
    margin: 1em 0 2em 0;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}
.becauseWe .contentTexts .componentTexts {
    width: 90%;
    margin: auto;
    padding: 1em .5em 1em .5em;
    position: relative;
    font-weight: bold;
}
.becauseWe .contentTexts .componentTexts .paragraphSection {

}
.becauseWe .contentTexts .componentTexts .topSquare,
.becauseWe .contentTexts .componentTexts .bottomSquare {
    width: var(--widthLineParagraph);
    height: calc(var(--widthLineParagraph) * 2);
    background-color: transparent;
    position: absolute;
}
.becauseWe .contentTexts .componentTexts .topSquare {
    border-top: 2px solid #00594E;
    border-left: 2px solid #00594E;
    top: 0;
    left: 0;
}
.becauseWe .contentTexts .componentTexts .bottomSquare {
    border-bottom: 2px solid #00594E;
    border-right: 2px solid #00594E;
    bottom: 0;
    right: 0;
}

/* Cards */
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}
.cards .card {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: .5em;
    width: 90%;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em .3em .8em .3em;
    border-radius: 2rem;
    min-height: 400px;
    overflow: hidden;
}
.cards .card .iconDiv {
    width: 100%;
    position: relative;
    height: 30vh;
    min-height: 250px;
    /* margin-bottom: 1.3em; */
}
.cards .card .iconDiv img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
.cards .card .iconDiv2 img {
    /* width: 95%;
    max-height: 100%;
    position: absolute;
    left: 0;
    bottom: .5em; */
    width: 95%;
    object-fit: contain;
    /* margin-top: 2%; */
}
.cards .card .iconDiv3 img {
    width: 95%;
    object-fit: contain;
    /* margin-top: 2%; */
}

.cards .card .titleCard {
    font-size: 1.3em;
    /* margin-bottom: .5em; */
}
.cards .card .paragraphCard {
    width: 95%;
    font-size: 1.1em;
    color: #000;
}

@media (min-width: 450px) {
    .becauseWe .contentTexts .componentTexts {
        width: 75%;
    }
}
@media (min-width: 550px) {
    .cards .card {
        width: 75%;
    }
    .becauseWe .contentTexts .componentTexts {
        width: 70%;
    }
}
@media (min-width: 680px) {
    .cards .card {
        display: grid;
        grid-template-columns: 50% 50%;
        /* flex-direction: row; */
        min-height: 300px;
        padding: 0;
        padding-inline: .5em;
        /* align-items: end; */
    }
    .cards .card .iconDiv {
        height: 98%;
        align-self: end;
        
        justify-self: end;
    }
    .cards .card .titleCard {
        font-size: 1.4em;
        margin-bottom: .5em;
    }
    .becauseWe .contentTexts .componentTexts {
        width: 55%;
    }
}
@media (min-width: 850px) {
    .becauseWe .contentTexts .componentTexts {
        width: 55%;
    }
    .becauseWe .contentTexts {
        font-size: 1.6rem;
    }
}
@media (min-width: 1050px) {
    .cards {
        width: 95%;
        margin: auto;
        gap: .5em;
        grid-template-columns: 50% 50%;
    }
    .cards .card {
        padding-left: .5em;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
    .cards .card .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
    }
    .cards .card .iconDiv0, .cards .card .iconDiv1 {
        align-items: end;
    }
    .cards .card .iconDiv img {
        width: 95%;
        max-height: 100%;
    }
    .becauseWe .contentTexts .componentTexts {
        width: 45%;
    }
    .becauseWe .contentTexts {
        
    }
}
@media (min-width: 1300px) {
    .cards .card .iconDiv img {
        width: auto;
        height: 100%;
    }
    .cards .card .iconDiv2 img, .cards .card .iconDiv3 img {
        width: 100%;
        height: auto;
    }
    .becauseWe .contentTexts .componentTexts {
        width: 40%;
    }
    .becauseWe .contentTexts {
        font-size: 1.7rem;
    }
}
@media (min-width: 1500px) {
    .cards {
        width: 85%;
    }
    .cards .card {
        min-height: 300px;
    }
    .becauseWe .contentTexts .componentTexts {
        width: 30%;
    }
}
@media (min-width: 1800px) {
    .cards .card .titleCard {
        font-size: 1.7em;
        /* margin-bottom: .5em; */
    }
    .cards .card .paragraphCard {
        /* width: 95%; */
        font-size: 1.3em;
    }
}
@media (min-width: 2000px) {
    .cards {
        gap: 1.5em;
    }
    .cards .card .titleCard {
        font-size: 2em;
        /* margin-bottom: .5em; */
    }
    .cards .card .paragraphCard {
        /* width: 95%; */
        font-size: 1.5em;
    }
    .becauseWe .contentTexts .componentTexts {
        width: 25%;
    }
}
@media (min-width: 1900px) {
    .cards {
        width: 70%;
    }
}