.aggregateContent {
    position: relative;
    width: 100%;
    height: 75vh;
    margin-bottom: 3em;
}
.aggregateContent .geometryFormBackground {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #00221e;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 1;
    -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
}
.professionalsPage {
    padding: 6em 0 0 0;
    width: 100%;
    background: #01120F;
}
.professionalsPage .cardProfessionals {
    margin-top: 2.5em;
    width: 100%;
}
.professionalsPage .cardProfessionals .cardProfessional {
    position: relative;
    z-index: 3;
    width: 85%;
    height: 100%;
    margin: auto;
}
.professionalsPage .cardProfessionals .cardProfessional .divImage {
    text-align: center;
    width: 100%;
    height: 50%;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-bottom: 2em;
    overflow: hidden;
}
.professionalsPage .cardProfessionals .cardProfessional .divImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.professionalsPage .cardProfessionals .cardProfessional .content-text {
    position: relative;
    margin: auto;
    padding: 0 0 1em 1em;
    width: 100%;
    max-height: 44%;
    overflow: auto;
    z-index: 2;

}
.professionalsPage .cardProfessionals .cardProfessional .content-text h3 {
    margin-left: .5em;
}
.professionalsPage .cardProfessionals .cardProfessional .content-text p {
    margin-right: .35em;
    
}
.professionalsPage .cardProfessionals .cardProfessional .borderComponent {
    position: absolute;
    width: 100px;
    height: 40%;
    width: 60%;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    z-index: 1;

}

@media (min-width: 360px) {
    .professionalsPage .cardProfessionals .cardProfessional .divImage img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}
@media (min-width: 450px) {
    .professionalsPage .cardProfessionals .cardProfessional .content-text {
       width: 85%;
    }
}
@media (min-width: 550px) {
    .professionalsPage .cardProfessionals .cardProfessional .content-text {
       width: 72%;
    }
}
@media (min-width: 650px) {
    .professionalsPage .cardProfessionals .cardProfessional .content-text {
       width: 65%;
    }
}
@media (min-width: 750px) {
    .professionalsPage .cardProfessionals .cardProfessional .content-text {
       width: 60%;
    }
    .professionalsPage .cardProfessionals .cardProfessional .divImage {
        margin: auto;
        height: 60%;
        /* width: 50%; */
        object-fit: cover;
        margin-bottom: .8em;
    }
}

/*
@media (min-width: 800px) {
    .professionalsPage .cardProfessionals .cardProfessional {
        width: 100%;
        background-color: aqua;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .professionalsPage .cardProfessionals .cardProfessional .divImage {
        align-self: center;
        justify-self: center;
        width: 75%;
        height: 90%;
    }
    .professionalsPage .cardProfessionals .cardProfessional .divImage img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .professionalsPage .cardProfessionals .cardProfessional .content-text {
        height: 70%;
        display: flex;
        flex-direction: column;
        max-height: 80%;
        position: relative;
        padding: 1em 1em 2em 3em;
    }
    .professionalsPage .cardProfessionals .cardProfessional .content-text h3 {
        margin-left: 0;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .professionalsPage .cardProfessionals .cardProfessional .content-text .borderComponent {
        background-color: transparent;
        position: absolute;
        left: 2em;
        height: 80%;
        top: 0;
        z-index: 1;
        border: none;
        border-left: 3px solid #fff;
    }
}
@media (min-width: 1000px) {
    .professionalsPage .cardProfessionals .cardProfessional {
        width: 80%;
        background-color: aqua;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .professionalsPage .cardProfessionals .cardProfessional .divImage {
        background-color: antiquewhite;
    }
    .professionalsPage .cardProfessionals .cardProfessional .divImage img {
        height: 100%;
        width: auto;
        object-fit: fill;
    }
}
*/